.inputsHolder {
    display: flex;
    justify-content: center;
    flex-direction: column;
    input {
         width: 80% !important;
         display: block !important;
         margin: auto !important;
         color: white;
    }
    .input-field.col label {
        left: 3rem;
        
    }

    .inputs {
        color: gray;
    }

    .btn {
        width: 40%;
        display: block;
        margin: auto;
        margin-top: 24px;
        background-color: $primary-color;
        color: $default-color;
        font-weight: 400;
    }
}

.formHolder {
    text-align: center;
    color: $primary-color;
    margin-top: 10px;
    height: 100%;
    h3 {
        font-size: 1.92em;
    }
}
