body {
    background-color: $default-color;
    font-family: $roboto;
}

.pointer {
    cursor: pointer;
}

.moviesHolder {
    margin-top: 2px;
}

.particularMovie {
    display: flex;
    justify-content: row;
    border-bottom: 1px solid $gray-color;
    position: relative;
    img {
        width: 140px;
        height: 1%;
    }
}

.movieInfo {
    margin-left: 20px;
}

.movieName {
    color: white;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 50px;
    font-family: $noto;
}

.genre,.durationAndCountry {
    color: $lightGray-color;
    font-size: 16px;
}


$ribbon-bg: red;
$ribbon-w: 60px;
$ribbon-h: 80px;
$ribbon-notch: 15px;

.ratingBookmark {
  width: 30px;
  box-sizing: border-box;
  height: 74px;
  border: 18px solid $gray-color;
  border-bottom: 15px solid transparent;
  border-top: none;
  transform: rotate(90deg);
  position: absolute;
  right: 21px;
  bottom: 24px;
    p {
         transform: rotate(-90deg);
         color: $primary-color;
         font-size: 17px;
         display: flex;
         margin-top: 43px;
         align-items: center;
    }
}


@media (max-width: 360px) {
    .ratingBookmark {
        height: 50px;
        right: 8px;
        bottom: 36px;
        p {
            font-size: 13px;
            margin-top: 26px;
            i {
                margin-top: -1px;
            }
        }
    }
}